# coding: utf-8

"""
    Bumbal Client Api

    Bumbal API documentation  # noqa: E501

    OpenAPI spec version: 2.0
    Contact: gerb@bumbal.eu
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from bumbal.api_client import ApiClient


class ActivityTypeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def retrieve_activity_type(self, activity_type_id, **kwargs):  # noqa: E501
        """Find ActivityType by ID  # noqa: E501

        Returns a single ActivityType  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_activity_type(activity_type_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int activity_type_id: ID of ActivityType to return (required)
        :return: ActivityTypeModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_activity_type_with_http_info(activity_type_id, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_activity_type_with_http_info(activity_type_id, **kwargs)  # noqa: E501
            return data

    def retrieve_activity_type_with_http_info(self, activity_type_id, **kwargs):  # noqa: E501
        """Find ActivityType by ID  # noqa: E501

        Returns a single ActivityType  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_activity_type_with_http_info(activity_type_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int activity_type_id: ID of ActivityType to return (required)
        :return: ActivityTypeModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['activity_type_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_activity_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'activity_type_id' is set
        if self.api_client.client_side_validation and ('activity_type_id' not in params or
                                                       params['activity_type_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `activity_type_id` when calling `retrieve_activity_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'activity_type_id' in params:
            path_params['activityTypeId'] = params['activity_type_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'jwt']  # noqa: E501

        return self.api_client.call_api(
            '/activity-type/{activityTypeId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ActivityTypeModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def retrieve_list_activity_type(self, arguments, **kwargs):  # noqa: E501
        """Retrieve List of ActivityTypes  # noqa: E501

        Retrieve List of ActivityTypes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_list_activity_type(arguments, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ActivityTypeRetrieveListArguments arguments: ActivityType RetrieveList Arguments (required)
        :return: ActivityTypeListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_list_activity_type_with_http_info(arguments, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_list_activity_type_with_http_info(arguments, **kwargs)  # noqa: E501
            return data

    def retrieve_list_activity_type_with_http_info(self, arguments, **kwargs):  # noqa: E501
        """Retrieve List of ActivityTypes  # noqa: E501

        Retrieve List of ActivityTypes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_list_activity_type_with_http_info(arguments, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ActivityTypeRetrieveListArguments arguments: ActivityType RetrieveList Arguments (required)
        :return: ActivityTypeListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['arguments']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_list_activity_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'arguments' is set
        if self.api_client.client_side_validation and ('arguments' not in params or
                                                       params['arguments'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `arguments` when calling `retrieve_list_activity_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'arguments' in params:
            body_params = params['arguments']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'jwt']  # noqa: E501

        return self.api_client.call_api(
            '/activity-type', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ActivityTypeListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
