# coding: utf-8

"""
    Bumbal Client Api

    Bumbal API documentation  # noqa: E501

    OpenAPI spec version: 2.0
    Contact: gerb@bumbal.eu
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from bumbal.api_client import ApiClient


class WebhookApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def trigger_web_hook(self, object_id, web_hook_name, **kwargs):  # noqa: E501
        """Trigger a webhook  # noqa: E501

        Manually trigger a webhook  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.trigger_web_hook(object_id, web_hook_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int object_id: objectId (required)
        :param list[str] web_hook_name: Name of this Web Hook (required)
        :param list[PayloadItem] extra_payload: extra payload to be sent when the webhook is triggered
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.trigger_web_hook_with_http_info(object_id, web_hook_name, **kwargs)  # noqa: E501
        else:
            (data) = self.trigger_web_hook_with_http_info(object_id, web_hook_name, **kwargs)  # noqa: E501
            return data

    def trigger_web_hook_with_http_info(self, object_id, web_hook_name, **kwargs):  # noqa: E501
        """Trigger a webhook  # noqa: E501

        Manually trigger a webhook  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.trigger_web_hook_with_http_info(object_id, web_hook_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int object_id: objectId (required)
        :param list[str] web_hook_name: Name of this Web Hook (required)
        :param list[PayloadItem] extra_payload: extra payload to be sent when the webhook is triggered
        :return: ApiResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['object_id', 'web_hook_name', 'extra_payload']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method trigger_web_hook" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'object_id' is set
        if self.api_client.client_side_validation and ('object_id' not in params or
                                                       params['object_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `object_id` when calling `trigger_web_hook`")  # noqa: E501
        # verify the required parameter 'web_hook_name' is set
        if self.api_client.client_side_validation and ('web_hook_name' not in params or
                                                       params['web_hook_name'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `web_hook_name` when calling `trigger_web_hook`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'object_id' in params:
            form_params.append(('objectId', params['object_id']))  # noqa: E501
        if 'web_hook_name' in params:
            form_params.append(('webHookName', params['web_hook_name']))  # noqa: E501
            collection_formats['webHookName'] = 'csv'  # noqa: E501
        if 'extra_payload' in params:
            form_params.append(('extraPayload', params['extra_payload']))  # noqa: E501
            collection_formats['extraPayload'] = 'csv'  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key', 'jwt']  # noqa: E501

        return self.api_client.call_api(
            '/web-hook/trigger', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ApiResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
